.header{
    background-image: url("./image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 783px;

    position: relative;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.title{
    font-family: var(--font-fraunces);
    font-weight: var(--font-f-weight-7);
    font-size: 50px;
    text-align: center;
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: calc(100px - 51px);
}

.arrow {
    margin: 0 auto;
    margin-top: 100px;
    width: 36px;
    height: 100px;
}