.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 82px;
}

.title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
    font-family: var(--font-fraunces);
    font-weight: var(--font-f-weight-7);
    color: var(--Grayishblue);
    font-size: 30px;
}

.testimonials{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
}

.img {
    border-radius: 50%;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text{
    margin-top: 25px;
    font-size: 15px;
    width: 55%;
    line-height: 22px;
    margin-bottom: 40px;
    color: var(--Darkblue);
}

.name{
    font-family: vaR(--font-fraunces);
    margin-bottom: 5px;
    color: var(--Darkblue);
}

.testimonial small{
    font-size: 13px;
    color: var(--Grayishblue);
    font-weight: lighter;
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0;
}

.image{
    width: 100%;
    height: 100%;
}

@media (max-width: 1154px){
    .container {
        padding: 50px;
    }
}

@media (max-width: 1008px){
    .text{
        font-size: 13px;
    }

    .testimonials{
        margin: 0 auto;
        display: grid;
        grid-template-columns: .3fr .3fr .3fr;
        place-content: center;
    }
}

@media (max-width: 570px) {
    .testimonials{
        grid-template-columns: 100%;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .testimonial{
        margin-bottom: 40px;
    }
}