.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}

.textCard{
  height: 590px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.textCard h1{
  color: var(--Darkblue);
  font-family: var(--font-fraunces);
  font-size: 50px;
  font-weight: var(--font-f-weight-7);
}

.textCard p {
  font-family: var(--font-brlow);
  color: var(--Darkblue);
  margin-top: 15px;
  margin-bottom: 30px;
}

.textCard button{
  color: var(--Darkblue);
  font-family: var(--font-fraunces);
  font-weight: var(--font-f-weight-7);
  border-bottom: 3px solid var(--Yellow);
}

.imgCard{
  width: 100%;
  height: 590px;
  position: relative;
}

.contentOverlay{
  width: 55%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65%;
}

.contentOverlay h4{
  color: var(--Darkblue);
  font-family: var(--font-fraunces);
  font-weight: var(--font-f-weight-7);
  margin-bottom: 20px;
  font-size: 25px;
}

.contentOverlay p {
  font-family: var(--font-brlow);
  color: var(--Darkblue);
}

.grid4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


@media (max-width: 974px){
  .textCard{
    padding: 50px;
  }
}

@media (max-width: 760px){
  .textCard h1{
    font-size: 30px;
    
  }
  .imgCard{
    height: 400px;
  }
  
  .textCard{
    height: 400px;
    padding: 45px;
  }

  .contentOverlay h4{
    font-size: 18px;
  }

  .contentOverlay{
    width: 60%;
    top: 60%;
  }
  .contentOverlay p {
    font-size: 15px;
  }
}


@media (max-width: 570px) {
  .grid2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  .textCard{
    align-items: center;
  }

  .grid4{
    display: grid;
    grid-template-columns: 50% 50%;
  }
}